@import "tailwindcss";

:root {
    font-family: 'Inter', sans-serif;
}

.perspective-container {
  perspective: 1200px;
  width: 320px;
  height: 460px;
  cursor: grab;
  user-select: none;
}

/* card ใช้กับหน้า vocabcard.tsx */

.card-body {
  width: 100%;
  height: 100%; 
  transform-style: preserve-3d; 
  will-change: transform; 
  transition: transform 0.5s ease;
  border-radius: 2rem;
}

.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 2rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card-front {
  transform: rotateY(0deg);
}

.card-back {
  transform: rotateY(180deg);
}

.animate-spin-slow {
  animation: spin 6s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg);}
  100% { transform: rotate(360deg);}
}
